@import 'bootstrap/dist/css/bootstrap';

.moa-navbar{
  background-color: #FCD116 ;
  border-bottom: 5px solid #008751;
}

.moa-navbar > *{
  //font-size: 12git0%;
}

.navbar-brand{
  font-size: 2em;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding{
  padding-right: 0;
}
.no-left-padding{
  padding-left: 0;
}
.results-block {
  display: inline-block;
} 
.table td, th {
  text-align: center;   
}
.moa-footer{
  background-color:  #008751 ;
  border-top: 2px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  z-index: 999;
  font-weight: bold;
  font-size: 30px;
  padding-right: 30px;
  margin-top: 150px;
  //padding-top: 100px;
}
//.leader-board{
//  display: inline-block;
//}

//.container {
//  border: 1px solid red;
//}
//
//.row {
//  border: 1px dashed purple;
//}
//[class*='col-']{
//  border: 1px solid darkgoldenrod;
//}
//
//#vermelho {
//  background: red;
//}