
@import 'bootstrap/dist/css/bootstrap';


.moa-navbar{
  background-color: #FFCE00 ;
  border-bottom: 7px solid #007E3A;
}

.moa-navbar > *{
  //font-size: 12git0%;
}

.navbar-brand{
  font-size: 2em;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding{
  padding-right: 0;
}
.no-left-padding{
  padding-left: 0;
}
.results-block {
  display: inline-block;
} 
.table td, th {
  text-align: center;   
}
.moa-footer{
  background-color:  #007E3A ;
  //border-top: 2px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  z-index: 999;
  font-weight: bold;
  font-size: 30px;
  padding-right: 30px;
}

.footer-helper{
  height: 30px;
  width: 100%;
}

.navTitle{
  color: white;
}

.navTitle:hover{
  color: white;
}



//.leader-board{
//  display: inline-block;
//}

.borda {
  border: 1px solid red;
}

.btn-success {
  background-color: #007E3A;
  border-color: #008751;
}

.btn-success:hover {
  background-color: #00633b;
  border-color: #00633b;
}

.btn-outline-success{
  border-color: #007E3A;
  color: #008751;
}

.btn-outline-success:hover {
  background-color: #008751;
  border-color: #008751;
}


//
//.row {
//  border: 1px dashed purple;
//}
//[class*='col-']{
//  border: 1px solid darkgoldenrod;
//}
//
//#vermelho {
//  background: red;
//}
