@import 'bootstrap/dist/css/bootstrap';

.moa-navbar{
  background-color: #FCD116 ;
  border-bottom: 5px solid #008751;
}

.moa-navbar > *{
  //font-size: 12git0%;
}

.navbar-brand{
  font-size: 2em;
}
