
<footer class="page-footer moa-footer d-flex flex-column justify-content-center">
  <h5 class="text-right text-white font-weight-lighter font-italic font-size-smaller mt-2">Keep on mokin'</h5>
</footer>